<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orca Quick Facts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index_style.css">
</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="orca_quick_facts.html">Orca Quick Facts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="pods.html">Orca Pod Comparisons</a>
                        <a class="dropdown-item" href="locations.html">Sightings Locations</a>
                        <a class="dropdown-item" href="active.html">Most Active Locations</a>
                        <a class="dropdown-item" href="seasonal.html">Seasonal Observations</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="method.html">Method</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1.0/mammal_sightings">API</a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container-fluid">
        <section class="row">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10 col-lg-10 col-md-10">
                    <article class="description-content">
                        <h1>Orca Quick Facts</h1>
                        <hr class="my-4">
                        <!-- <img src="https://static.wixstatic.com/media/760f65_aa13d9fb8bcb4481a1da66473486716d~mv2.jpg/v1/fill/w_1000,h_520,al_c,q_90/760f65_aa13d9fb8bcb4481a1da66473486716d~mv2.webp"
                        class="float-center" width=100%> -->
                        <img src="https://static.wixstatic.com/media/760f65_1be14582614645ef830fb5f520946d8a~mv2.jpg/v1/fill/w_1000,h_666,al_c,q_90/760f65_1be14582614645ef830fb5f520946d8a~mv2.webp"
                            class="float-center" width=100% alt='K33 backdive'>
                        <div class="caption">
                            <p class="capt">K33 backdive</p>
                        </div>
                    </article>
                </div>
            <!-- </div> -->
        <!-- </section>
        <section class="row">
            <div class="row justify-content-center"> -->
                <div class="col-12 col-xl-5 col-lg-5 col-md-3">
                    <ul>
                        <h4 id="qf">
                            <li>Orcas are known as Killer Whales, but in fact they are dolphins. They are
                                the largest members of the dolphin family.</li>
                            <li>Orcas live in clans, which consist of pods. Pods are matrilineal families
                                with several matrilines within each pod.</li>
                            <li>This project focuses on the Southern Resident Killer Whale (SKRW) J clan
                                that consists of J, K and L pods. </li>
                            <li>Orcas have distinct languages and dialects.</li>
                        </h4>
                    </ul>
                </div>
                <div class="col-12 col-xl-5 col-lg-5 col-md-3">
                    <ul>
                        <h4 id="qf">
                            <li>Orcas navigate the oceans by echolocation.</li>
                            <li>Males grow to an average of 20-26 feet and weigh 12,000 lb, and females grow
                                to 18-22 feet and weigh between 8,000–11,000 lb.</li>
                            <li>Dorsal fins grow to be 6 feet all.</li>
                            <li>Calves weigh about 400 lb at birth and only about half survive the first
                                year.</li>
                            <li>Orcas have a similar lifespan as humans.</li>
                            <li>SRKW population is at a 30 year low.</li>
                        </h4>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>